.uploadJob {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding-bottom: 5em;
  margin: auto auto;

}

.uploadForm {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: space-evenly;
}

form input, form textarea {
  border: solid black 1px;
}

form label {
  margin-top: 2em;
}

.buttons {
  margin-top: 3em;
  display: inline-block;
}

.clearForm {
  margin-left: 2em;
  background-color: rgb(252, 42, 42);
  width: 6em;
}

.submit {
  background-color: rgb(17, 226, 44);
}
.clearForm, .submit {
  height: 4em;
  border-style: unset;
}

.link {
  background-color: rgb(32, 124, 178);
}

form a {
  color: black;
  text-decoration: unset;
}